{{!< default}}
<main>
    <div class="owl-carousel">
        {{#foreach posts}}
            <article class="{{post_class}} hero hero--full {{#if image}}vignette{{/if}} " {{#if image}}style="background-image: url('{{image}}')"{{/if}}>
                <header class="post-header container container--wide">
                    <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
                    {{#author}}
                        <a class="author" href="{{url}}">
                            <img class="author__image" src="{{image}}" alt="{{name}}" />
                            <span class="author__name">{{name}}</span>
                        </a>
                    {{/author}}
                </header>
                <section class="post-excerpt container container--thin translucent">
                    <p>{{excerpt words="26"}}&hellip;</p>
                </section>
                <footer class="container container--thin">
                    <a href="{{url}}" class="button button--white button--space">Read More</a>
                </footer>
            </article>
        {{/foreach}}
    </div><!-- .owl-carousel -->

    <div class="all">
        <div class="hero">
            <h1>All Posts</h1>
        </div>
        <div class="container container--wide pad--vertical">

    		{{#foreach posts}}
    		<article class="post-listing">
    			<div class="post-listing__media">
    				{{#if image}}
    				<a class="square" href="{{url}}">
    					<img class="post-listing__image" src="{{image}}" alt="" />
    				</a>
    				{{/if}}
    			</div>
    			<div class="post-listing__body">
    				<h3 class="post-listing__title">
    					<a href="{{url}}">{{title}}</a>
    				</h3>
    				<time class="post-listing__date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
    				<p class="post-listing__excerpt">{{excerpt words="43"}}&hellip;</p>
    				<a href="{{url}}" class="post-listing__button button button--small">Read More</a>
    			</div>
    		</article>
    		{{/foreach}}

    		{{pagination}}

    	</div>
    </div>
</main>
