{{!< default}}
<main>
    {{#post}}

    <article class="{{post_class}}">

        <header class="hero {{#if image}}vignette{{else}}no-image{{/if}}" {{#if image}}style="background-image: url('{{image}}')"{{/if}}>

            <time class="post-date container container--thin {{#if image}}vignette--lift{{/if}}" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>

            <h1 class="post-title container container--wide {{#if image}}vignette--lift{{/if}}">{{title}}</h1>

            {{#author}}
                <a class="author {{#if image}}vignette--lift{{/if}}" href="{{url}}">
                    <img class="author__image" src="{{image}}" alt="{{name}}" />
                    <span class="author__name">{{name}}</span>
                </a>
            {{/author}}

        </header>

        <section class="container container--thin content vpad vpad--double baseline">
            {{content}}
        </section>

        <footer>
            <div class="container container--wide">

                {{#if tags}}

                <hr>

                <ul class="tags">
                    {{#foreach tags}}
                    <li class="tags__tag">
                        <a href="{{url}}" title="{{name}}" class="tag-{{id}}">{{name}}</a>
                    </li>
                    {{/foreach}}
                </ul>
                {{/if}}

                <div id="disqus_thread"></div>

            </div>

            <div class="background-dark vpad vpad--double">
                <div class="container container--thin">
                    {{#author}}
                    <section class="author-info">

                        {{# if image}}
                        <a href="{{url}}">
                            <img class="author-image author-info__image" src="{{image}}" alt="{{image.alt}}" />
                        </a>
                        {{/if}}

                        {{# if name}}
                        <span class="author-info__by">Written By</span>
                        <h2 class="author-info__name"><a href="{{url}}">{{name}}</a></h2>
                        {{/if}}

                        {{#if bio}}
                        <p class="author-info__bio">
                            {{ bio }}
                        </p>
                        {{/if}}

                        {{#if website}}
                        <a class="author-info__website icon-link js-remove-protocol" href="{{website}}">{{website}}</a>
                        {{/if}}

                        {{#if location}}
                        <span class="author-info__location icon-pin-map">{{location}}</span>
                        {{/if}}

                    </section>
                    {{/author}}
                </div>
            </div>
        </footer>

    </article>

    {{/post}}
</main>
